.canvas {
    display: flex;
    flex-direction: column;
    align-items: start;
    aspect-ratio: 1/1;
    width: 100%;
    gap: 1px;
    align-items: stretch;
}

.row {
    display: flex;
    gap: 1px;
    align-items: stretch;
}

.pixel {
    aspect-ratio: 1/1;
    flex: 1 1 auto;
    width: 1px;
    background-color: red;
}